.home__button{
    padding: 8px 3px;
    background-color: var(--btn-color);
    width: 30%;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
}
.home__button:hover{
    background-color: var(--white);
    transition: .2s ease-in;
    border: 1px solid var(--btn-color);
    color: #333;
}

@media screen and (max-width:320px) {
    .home__button{
        font-size: .7rem;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:768px) {
    .home__button{
        font-size: .7rem;
        display: flex;
        width: 32%;
        justify-content: center;
    }
}