.navbar__logo{
    text-decoration: none;
    list-style: none;
    color: var(--light-purple);
    font-weight: bold;
    
}
.navbar__logo:hover{
    color: var(--black);
}
.NavUl
{
  margin: 5px 0px;
  padding: 3px 15px;
  text-decoration: none;
  color: #333; 
}
.NavUl:hover
{
 color: var(--light-purple); 
 font-weight: bold;
}
.navbarColor{
    background-color: var(--white) !important;
}
.searchBtn{
    padding: 0px 30px !important;
    border: 1px solid var(--light-purple) !important;
    color: var(--black) !important;
}
.searchBtn:hover{
    background-color: var(--light-purple) !important;
    border: none !important;
    color: var(--white) !important;
}